* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --main-color: #b6b65a;
  --secondary-color: #f9efe6;
  --tertiary-color: #9e7e59;
  --additional-color: whitesmoke;
}

body {
  background-color: var(--additional-color);
}

.gridContainer {
  width: 35vw;
  height: 35vw;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: fit-content;
  height: fit-content;
}

.cells {
  padding: 0;
  outline: 1px solid black;
  background-color: var(--main-color);
}

.titleBar {
  height: 10vh;
  background: var(--main-color);
  padding: 1rem;
}

.title {
  color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 4vh;
}

.slider {
  width: 20vw;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--main-color);
  border-radius: 10px;
  height: 5px;
}

.slider::-webkit-slider-thumb {
  background-color: var(--tertiary-color);
  appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 100px;
}

.slider::-moz-range-thumb {
  background-color: var(--tertiary-color);
  appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 100px;
}

.color {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.color.color::-webkit-color-swatch-wrapper {
  -webkit-appearance: none;
  padding: 0;
  background-color: none;
}

.color::-webkit-color-swatch {
  border-radius: 1000px;
}

.cacc {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

button {
  -webkit-appearance: none;
  border: 1px solid black;
  height: 2rem;
  width: 4rem;
  background-color: var(--tertiary-color);
}

button:active {
  -webkit-appearance: none;
  border: 1px solid rgb(121, 121, 121);
  height: 2rem;
  width: 4rem;
  background-color: var(--main-color);
}
